/* styles.css */

/* styles.css */

.button {
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-pref-width: 100px;
}

.game-start-button, .score-board-button, .settings-button, .exit-button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-border-color: transparent;
    -fx-border-width: 2px;
}

.game-start-button:focused, .score-board-button:focused, .settings-button:focused, .exit-button:focused {
    -fx-border-color: black;
}



.game-start-button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
}

.score-board-button {
    -fx-background-color: #FFC107;
    -fx-text-fill: white;
}

.settings-button {
    -fx-background-color: #2196F3;
    -fx-text-fill: white;
}

.exit-button {
    -fx-background-color: #F44336;
    -fx-text-fill: white;
}
